In [1]:
import pandas as pd

In [2]:
movies_df_raw = pd.read_csv('/Users/christiansutton/Downloads/movies-metadata.csv');
movies_df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

/Users/christiansutton/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
movies_df_raw.drop(["belongs_to_collection",
                    "homepage",
                    "imdb_id",
                    "poster_path", 
                    "video",
                    "tagline",
                    "overview", 
                    "original_title", 
                    "spoken_languages", 
                    "tagline"],
                   axis=1,inplace=True)

In [4]:
movies_df_raw.drop_duplicates(keep='first',inplace=True)
movies_df_raw.head(3)

,adult,budget,genres,id,original_language,popularity,production_companies,production_countries,release_date,revenue,runtime,status,title,vote_average,vote_count
0,False,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,21.9469,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0
1,False,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,17.0155,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0
2,False,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,Released,Grumpier Old Men,6.5,92.0

In [5]:
movies_df_raw[movies_df_raw.adult != 'False'].shape

(12, 15)

In [6]:
movies_df_raw.drop(['adult'],axis=1,inplace=True)

In [7]:
movies_df_raw.shape

(45453, 14)

In [8]:
movies_df_raw['budget'] = pd.to_numeric(movies_df_raw['budget'],errors='coerce',downcast="integer")
movies_df_raw['popularity'] = pd.to_numeric(movies_df_raw['popularity'],errors='coerce',downcast="float")
movies_df_raw['revenue'] = pd.to_numeric(movies_df_raw['revenue'],errors='coerce',downcast="float")
movies_df_raw['runtime'] = pd.to_numeric(movies_df_raw['runtime'],errors='coerce',downcast="float")
movies_df_raw['vote_average'] = pd.to_numeric(movies_df_raw['vote_average'],errors='coerce',downcast="float")
movies_df_raw['vote_count'] = pd.to_numeric(movies_df_raw['vote_count'],errors='coerce',downcast="float")

In [9]:
movies_df_raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45453 entries, 0 to 45465
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                45450 non-null  float64
 1   genres                45453 non-null  object
 2   id                    45453 non-null  object
 3   original_language     45442 non-null  object
 4   popularity            45447 non-null  float32
 5   production_companies  45450 non-null  object
 6   production_countries  45450 non-null  object
 7   release_date          45366 non-null  object
 8   revenue               45447 non-null  float32
 9   runtime               45190 non-null  float32
 10  status                45366 non-null  object
 11  title                 45447 non-null  object
 12  vote_average          45447 non-null  float32
 13  vote_count            45447 non-null  float32
dtypes: float32(5), float64(1), object(8)
memory usage: 4.3+ MB

In [10]:
t = movies_df_raw.iloc[0,1]
t

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [11]:
def func(t):
    return [i['name'] for i in eval(t)]

In [12]:
movies_df_raw[['genres']].applymap(func)

                             genres
0       [Animation, Comedy, Family]
1      [Adventure, Fantasy, Family]
2                 [Romance, Comedy]
3          [Comedy, Drama, Romance]
4                          [Comedy]
...                             ...
45461               [Drama, Family]
45462                       [Drama]
45463     [Action, Drama, Thriller]
45464                            []
45465                            []

[45453 rows x 1 columns]

In [13]:
movies_df_raw['generes_fixed']=movies_df_raw[['genres']].applymap(func)

In [14]:
genre = pd.DataFrame(movies_df_raw['generes_fixed'].to_list())
genre.head(2)

           0        1       2     3     4     5     6     7
0  Animation   Comedy  Family  None  None  None  None  None
1  Adventure  Fantasy  Family  None  None  None  None  None

In [15]:
genre.rename(columns={0:'genre0',
                      1:'genre1',
                      2:'genre2',
                      3:'genre3',
                      4:'genre4',
                      5:'genre5',
                      6:'genre6',
                      7:'genre7'},inplace=True)

In [16]:
movies = pd.concat([movies_df_raw,genre],axis=1)

In [17]:
movies.drop(columns=['genres','generes_fixed'],inplace=True)

In [18]:
movies.head(3)

,budget,id,original_language,popularity,production_companies,production_countries,release_date,revenue,runtime,status,...,vote_average,vote_count,genre0,genre1,genre2,genre3,genre4,genre5,genre6,genre7
0,30000000.0,862,en,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554048.0,81.0,Released,...,7.7,5415.0,Animation,Comedy,Family,None,None,None,None,None
1,65000000.0,8844,en,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797248.0,104.0,Released,...,6.9,2413.0,Adventure,Fantasy,Family,None,None,None,None,None
2,0.0,15602,en,11.712900,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,Released,...,6.5,92.0,Romance,Comedy,None,None,None,None,None,None

In [19]:
movies.to_csv('/Users/christiansutton/Downloads/movies_clean.csv')